@{
    ViewBag.Title = "Deleted";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Product Deleted</h2>
<p>Product was succesfully deleted.</p>
<p>@Html.ActionLink("Back to List","Index")</p>
