@{
    ViewBag.Title = "Order Deleted";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Order Deleted</h2>

Order was Deleted from System

@Html.ActionLink("Back to Orders", "Index")
