@model PizzaShop.Models.Catalog.OrderStatus

@{
    ViewBag.Title = "Deleted";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Deleted</h2>

Order Status was succesfuly deleted.

@Html.ActionLink("Back", "Status");
