@{
    ViewBag.Title = "Deleted";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Option deleted</h2>
<div>
    <p>Option was succesfully deleted.</p>
</div>
<div>
    <p>@Html.ActionLink("Back to List","Index")</p>
</div>
