@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>

<div>
    @Html.ActionLink("Back to Detail", "Detail")
</div>