@{
    ViewBag.Title = "Deleted";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Deleted</h2>

<p>
    User was succesfully deleted from system
</p>

<p>
    @Html.ActionLink("Back","Index")
</p>
