/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

.option 
{
    display:inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

body 
{

    background-color: white ;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}
a.checkout
{
     background: url(Images/checkout.gif) no-repeat top right;
     display: block;
     width: 62px;
     height: 34px;
     padding-right: 120px;

}
a.add_to_cart
{
     background: url(Images/shopping_cart.png) no-repeat top left;
     display: block;
     width: 64px;
     height: 64px;
     text-indent: -9999px; /* hides the link text */
}

a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page 
{
    float:left;
		padding:0px 0;
		min-width:100%;
}
    

header, #header 
{
    height: 100px;
    position: relative;
    margin-bottom: 10px;
    margin-top:0px;
    background-color: gray;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main 
{
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    margin: 0 auto;
    width: 70%;
    height:100%;
    padding: 30px 30px 15px 30px;
    background-color: white  ;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer 
{
    width: 60%;
    margin: 0 auto;
    background-color: #C8C8C8 ;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;

    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

#googleMap 
{
    width:70%;
    height:370px; 
    float:right; 
    right:0px; 
    top:10px; 
    margin-left:5px;
}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    padding: 0 0 0px;
    position: relative;
    text-align: center;
    bottom:-10px;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #500000 ;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #383838  ;
    color: white ;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #500000 ;
    color: white ;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #500000 ;
    color:White;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #500000 ;
    color:#500000 ;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
    background-color:#383838;
    color:White;

}

input[type="submit"]:hover{
    font-size: 1.2em;
    padding: 5px;
    background-color:#500000;
    color:White;

}

/* TABLE
----------------------------------------------------------*/

table 
{
    width:100%;
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 20px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #E3E3E3;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.center 
{
    text-align: center;
}

.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer 
{
    position:relative;
    width: 800px;
    margin: 0 auto;
    bottom: -15px;
}

div#title 
{
    background: url(Images/ExpressPizza.png) no-repeat top left;
     width: 110px;
     height: 100px;
    display: block;
    float: left;
    text-align: left;
    margin-left: 0px;
}

#title h1 
{
    color:#383838;
}

#minicart   
{
    position:absolute;
    bottom: 0px;
    right:10px;
    display: block;
    text-align: right;
    color: White;
}
    

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 0px;
    color: White;
    margin-right: 10px;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
    font-weight: bold;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
